.movie-item-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  width: 50%;
  height: 70vh;
}

.thumbnail {
  width: 250px;
  height: 150px;
  border-radius: 8px;
  cursor: pointer;
}

.modal-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

@media screen and (min-width: 768px) {
  .modal-container {
    max-width: 1110px;
  }
}

.close-button {
  align-self: flex-end;
  background-color: transparent;
  width: 65px;
  height: 60px;
  border: none;
  margin-top: 32px;
  outline: none;
  cursor: pointer;
}

.react-player {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
